<p>Hey <b style="color: red;">{{ name }},</b></p>
<p>Please click below to confirm your email</p>
<p>
    <button style="padding: 12px; text-color : white;">
        <a href="{{ url }}">Confirm my subscription</a>
    </button>
    
</p>

<p>If you did not request this email you can safely ignore it.</p>